* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.first {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 241, 241);
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    align-items: center;
}

.first-part-one {
    position: relative;
    top: 2em;
}

.first-part-one h1 {
    font-size: 3em;
    padding-bottom: 20px;
    color: rgb(46, 45, 45);
}

.first-part-one p {
    font-size: 13px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.first-part-one button {
    background-color: rgb(255, 103, 149);
    border: none;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;

}

.first-part-two img {
    position: relative;
    top: 2.7em;
    left: 15%;
}

.second-part {
    text-align: center;
    padding: 40px 130px;
    margin-top: 3em;
}

.second-part-pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-part h2 {
    padding: 15px;
    color: rgb(46, 45, 45);
    font-size: 2em;
}

.second-part p {
    font-size: 12px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.second-part-pro .second-box-1 img {
    background-color: rgb(253, 236, 236);
    padding: 30px 40px;
    border-radius: 150px 150px 0px 0px;
    padding-bottom: 1px;
    position: relative;
    bottom: 15px;
}

.second-part-pro .second-box-2 img {
    background-color: rgb(229, 250, 253);
    padding: 25px 25px;
    border-radius: 150px 150px 0px 0px;
    position: relative;
    bottom: 15px;
}

.second-part-pro .second-box-3 img {
    background-color: rgb(226, 247, 218);
    padding: 30px 40px;
    border-radius: 140px 140px 0px 0px;
    padding-bottom: 1px;
    position: relative;
    bottom: 28px;
}

.second-part-pro .second-box-2 h4 {
    position: relative;
    left: 34%;
}

.second-part-pro .second-box-3 h4 {
    position: relative;
    bottom: 1.1em;
}

.second-part-pro h4 {
    border-bottom: 2px solid rgb(71, 70, 70);
    width: 125px;
    text-align: center;
    position: relative;
    left: 30%;
}

.second-part-pro h4 {
    color: rgb(46, 45, 45);
}

.third-part {
    width: 100%;
    height: 70%;
    background-color: rgb(255, 241, 241);
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    align-items: center;
    color: rgb(46, 45, 45);
}

.third-part-1 {
    position: relative;
    left: 15%;
}

.third-part-1 h2 {
    font-size: 1.8em;
    padding-bottom: 15px;
}

.third-part-1 h2 span {
    color: rgb(247, 73, 125);
}

.third-part-1 p {
    font-size: 13px;
    color: rgb(148, 144, 144);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.third-part-1 button {
    background-color: rgb(255, 103, 149);
    border: none;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 5px;
    position: relative;
    left: 35%;
    cursor: pointer;
}

.third-part-2 {
    position: relative;
    right: 10%;
}

.forth-part {
    padding: 40px 130px;
    text-align: center;
}

.forth-part-pro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 150px;
    gap: 16px;
}

.forth-part h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(46, 45, 45);
    font-size: 2em;
}

.forth-part p {
    font-size: 12px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 12px;
}

.fivth-part {
    padding: 40px 130px;
    text-align: center;
    background: url("Images/Flower Asset/Rectangle 9.png");
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 14%;
    text-align: center;
    background-position: cover;
}

.fivth-part-text {
    text-align: center;
    align-items: center;
    position: relative;
    right: 15%;
}

.fivth-part-text h2 {
    padding-top: 50px;
    color: rgb(46, 45, 45);
    font-size: 2em;
}

.fivth-part-text p {
    font-size: 12px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    padding: 18px;
    padding-bottom: 25px;
}

.fivth-part-text input {
    width: 50%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.fivth-part-text button {
    background-color: rgb(255, 103, 149);
    border: none;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;

}

.sixth-part {
    padding: 40px 130px;
    text-align: center;
    background-color: rgb(255, 221, 226);
    background: linear-gradient(rgb(247, 219, 223), white, rgb(222, 244, 250));
    margin-top: 5em;
}

.sixth-part h1 {
    padding: 1.5em;
    color: rgb(247, 75, 127);
}

.sixth-part ion-icon {
    color: rgb(247, 75, 127);
    font-weight: bolder;
}

.sixth-part li {
    list-style: none;
    font-size: 1.2em;
    text-align: left;
    position: relative;
    left: 20%;
}
.sixth-part button {
    background-color: rgb(255, 103, 149);
    border: none;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
}